

body, html {
	height: 100%;
	margin: 0;
}

.home
{
	/* The image used */
	background-image: url("../img/taxi.jpg");

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}



.registro{

	background-color: #f7b617;
	color: white;
	position: absolute;
	width: 500px;
	height: auto;
	padding-bottom: 10px;
	padding-left: 20px;
	top: 50px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	text-align: right;
}

.descargar{
	background-color: #f7b617;
	max-width: 100%;
	color: white;
}

.celular{
	padding: 30px;
	margin-left: 0;
}

.borde{
	border: 2px solid white;
	margin-top: 25px;
	height: 70vh;
	width: 90%;
}

#titulo{
	margin-top: 100px;
}




/*

